.actions{
    height: 80px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: space-between;
}
.home_action_btn1{
    padding: 10px 30px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(245, 165, 60);
    cursor: pointer;
} 
.home_action_btn2{
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(108, 108, 245);
    color: white;
}
.list_container{
    width: 350px;
    margin: 20px auto;
}
h3{
    text-align: center;
}
.list_container .list_content{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    align-items: center;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
}
.play_saved_game_btn{
    cursor: pointer;
}